Source: geckofx29
Section: unknown
Priority: extra
Maintainer: Stephen McConnel <stephen_mcconnel@sil.org>
Build-Depends: debhelper (>= 8.0.0),
 mono-devel (>=2.10.8),
 libglib2.0-cil (>= 2.12.10),
 libgtk2.0-cil (>= 2.12.10),
 libgdiplus (>= 2.10)
Standards-Version: 3.9.3
Homepage: http://bitbucket.org/geckofx

Package: geckofx29
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 mono-runtime (>= 2.10.8),
 libmono-system-runtime4.0-cil (>= 2.10.8),
 libmono-system-data-linq4.0-cil (>= 2.10.8),
 libmono-system-drawing4.0-cil (>= 2.10.8),
 libmono-system-windows-forms4.0-cil (>= 2.10.8),
 libmono-system-xml-linq4.0-cil (>= 2.10.8),
 libglib2.0-cil (>= 2.12.10),
 libgtk2.0-cil (>= 2.12.10),
 libgdiplus (>= 2.10),
 xulrunner-geckofx29|xulrunner29
Provides: geckofx
Description: C# binding for gecko web browser controls
 GeckoFx is a C# binding of the Gecko (aka Firefox) browser controls.
 This version binds the controls from Firefox/xulrunner 29.
